*{ /* Ajustes para o site todo */
    padding: 0px; /* Ajusta as margens dos cantos do site */
    margin: 0px; /* Ajusta as margens dos cantos do site */
}

.iconesredes {
    display: flex; /* deixa os elementos na horizontal */
    align-items: center; /* Alinhamento dos itens ao centro */
    margin-top: 15px; /* ajusta a margem no topo */
    list-style: none; /* define o tipo de lista, neste caso, sem ponto */
    position: absolute; /* Posição absoluta */
    margin-left: 264px;; /* ajusta a margem externa na esquerda */
    padding-left: 0px; /* ajusta a margem interna na esquerda */
}
/* Ajustes de tamanho dos icones de facebook ate o youtube */
.face{
    width: 25px; /* Define a largura da imagem */
    height: auto; /* Adapta a altura para ficar correpondente ao valor de width */
}

.insta{
    width: 25px; /* Define a largura da imagem */
    height: auto; /* Adapta a altura para ficar correpondente ao valor de width */
}

.twitter{
    width: 25px; /* Define a largura da imagem */
    height: auto; /* Adapta a altura para ficar correpondente ao valor de width */
}

.youtube{
    width: 25px; /* Define a largura da imagem */
    height: auto; /* Adapta a altura para ficar correpondente ao valor de width */
}

.iconesredes li{ /* Ajusta o espaçamento entre os icones */
    margin-left: 15px; /* Ajusta a margem esquerda */
}

.botoes-login-criarconta{
    position: absolute; /* Habilita as opções de posição */
    margin-left: 1425px; /* Ajusta da mmargem esquerda */
    margin-top: 12px; /* Ajuste da margem do topo */
}

.botao-login,
.botao-criarconta {
    font-weight: bold; /* Escolhe a familia da fonte */
    padding: 12px; /* Espaçamento interno de todos os lados */
    background-color: #FFBC0D; /* Cor de fundo */
    color: #DB0007; /* Cor do texto */
    border-radius: 93px; /* Coloca bordas arredondadas */
    border: none; /* Sem cor na borda */
    cursor: pointer; /* muda a seta do mouse para uma mão de click*/
    margin-left: 11px; /* Ajuste de margem da esquerda*/
}

.botao-login:hover,
.botao-criarconta:hover { /* Usamos o :hover para mudar a cor quando passamos o mouse por cima */
    background-color: #FFF; /* Muda a cor de fundo do botão*/
    color: #DB0007; /* Muda a cor do texto do botão */
}

nav {
    background-color: #DB0007; /* Muda a cor do fundo do menu */
    padding: 0px; /* Deixa sem o espaçamento interno */
}

nav ul{
    list-style: none; /* define o tipo de lista, neste caso, sem ponto */
    padding-top: 0px; /* Deixa sem o espaçamento interno no topo */
    padding-bottom: 0px; /* coloca o espaçamento interno do botão */
    margin: 0px; /* Deixa sem o espaçamento externo no topo */
    display: flex; /* Deixa a lista na horizontal */
    justify-content: center; /* Justifica o conteúdo no centro */
    font-family: 'Roboto', sans-serif; /* Define o tipo de familia da fonte - roboto e sem serifa */
    font-weight: bold; /* Definde a familia da fonte - bold */
    font-size: 15px; /* Define o tamanho da fonte */
}

nav li{
    margin-left: 55px; /* Define o espaçamento externo esquerdo */
    margin-right: 55px;/* Define o espaçamento externo direito */
    padding-top: 75px; /* Deixa sem o espaçamento interno no topo */
}

nav a{
    color: #FFBC0D; /* define a cor do texto */
    text-decoration: none; /* Nome - tira o sublinhado do texto */
}

nav a:hover{ /* Usamos o :hover para mudar a cor quando passamos o mouse por cima */
    color: #FFF; /* Define a cor do texto */
}

.logomc{
    width: auto; /* Deixa a largura na medida */
    height: 80px; /* Define o tamanho da altura */
    padding-top: 17px; /* Define o espaço interno do topo */
    padding-bottom: 20px; /* Define o espaço entre1 botão */
}

.banner img{
    position: relative;
    height: auto; /* deixa a altura na medida automatica */
    width: 100%; /* Deixa a largura na medida 100% ajustada as laterais */
}

.oferta-do-dia {
    text-align: center;
    margin-top: 0px; /* ajusta a margem externa na esquerda */
    margin-left: 100px; /* ajusta a margem externa na esquerda */
    margin-right: 100px; /* ajusta a margem externa na direita */
}

.oferta-do-dia h2{
    font-family: 'Roboto', sans-serif; /* Define o tipo de familia da fonte - roboto e sem serifa */
    font-size: 22px; /* Define o tamanho da fonte */
    font-weight: bold; /* Definde a familia da fonte - bold */
    color: #DB0007;
}

.linha-amarela-left,
.linha-amarela-right { /* Controle da linha amarela */
    position: absolute;
    top: 705px;
    height: 7px;
    width: 650px;
    background-color: #FFBC0D;
    border-radius: 40px;
}

.linha-amarela-left {
    left: 220px;
}

.linha-amarela-right {
    right: 220px;
}

.oferta-imagens {
    display: flex;
    padding: 0px;
}

.mcImages {
    width: 200px;
    height: 200px;
}

.preco {
    position: relative;
    top: -45px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #DB0007;
}

.descricao {
    margin-top: -9px;
    margin-left: 70px;
    margin-right: 70px
}

.descricao h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(95, 95, 95);
}

.comprar {
    font-weight: bold;
    padding: 10px 20px;
    background-color: #DB0007;
    color: #FFBC0D;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 7px;
    font-size: 15px;
}

.comprar:hover {
    background-color: #FFBC0D;
    color: #DB0007;
}

.linha {
    position: absolute;
    margin-top: 400px;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 5px;
    width: 1420px;
    background-color: #E1E1E1;
    border-radius: 15px;
}

.oferta-do-dia2 {
    text-align: center;
    margin-top: 0px; /* ajusta a margem externa na esquerda */
    margin-left: 111px; /* ajusta a margem externa na esquerda */
    margin-right: 111px; /* ajusta a margem externa na direita */
}

.oferta-do-dia3 {
    text-align: center;
    margin-top: 0px; /* ajusta a margem externa na esquerda */
    margin-left: 93px; /* ajusta a margem externa na esquerda */
    margin-right: 136px; /* ajusta a margem externa na direita */
}

.conteudorodape {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.conteudorodape ol {
    margin-top: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    list-style: none;
    padding-bottom: 37px;
}

.colunal li, .colunal2 li, .colunal3 li {
    padding: 10px;
}

.copy {
    background-color: #980005;
    color: #FFBC0D;
    text-align: center;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}